*{
    padding: 0;
    margin: 0;
    
}
.header{
    background-color: royalblue;
    padding: 20px;
    font-size: 20px;
}
.header a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
.container img{
    width: 100%;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
card img{
    width: 100%;
}
.card{
    width: 30%;
    box-shadow: 0 0 0.4rem rgb(0, 0, 0);
}
.footer{
    margin-top: 20px;
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 20px;
}